@using VendorTracker.Models;
@{
  Layout = "_Layout";
}
@* Model is a dictionary, use ["vendor"] and ["order"] *@

<h2>Order details</h2>

<ul>
  <li>Number of items: @Model["order"].NumItems</li>
  <li>Notes: @Model["order"].Description</li>
  <li>Price: @Model["order"].Price</li>
  <li>Date: @Model["order"].Date</li>
</ul>

<a class="btn btn-warning m-3" href='/vendors/@Model["vendor"].Id/orders/@Model["order"].Id/edit'>Edit this order</a>

<a class="btn btn-primary m-3" href='/vendors/@Model["vendor"].Id'>See all orders for @Model["vendor"].Name</a>